.calculadora{
	display:block;
	margin: 0 auto;
	padding: 20px;
	background-color:#F08080; 
	width:400px;
	height: 400px;
	border-radius:25px;
}

.calculadora td button{
	display:block;
	width:80px;
	height:50px;
	margin: 5px;
	border: 20px;
	background-color: white;
}

#resultado{
	display: block;
	text-align: center;
	font-size: 50px;
	width:400px; 
	height:100px;
	background-color: white;
	border-radius: 25px;

}